<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <connectionStrings>
    <add name="GroupProjectEntities" connectionString="metadata=res://*/GroupProject.csdl|res://*/GroupProject.ssdl|res://*/GroupProject.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TRNLON11699\sqlexpress;initial catalog=GroupProject;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>