@model ASP.Models.LogInModel
@{
    ViewBag.Title = "Log In";
}

<h1>Log In</h1>

@using (Html.BeginForm("LogIn", "MemberSide", FormMethod.Post))
{
<p>
    <label>Username</label>
</p>
    @Html.EditorFor(model => model.Username)
<p>
    <label>Password</label>
</p>
    @Html.PasswordFor(model => model.Password)
    <p>
        <input type="submit" value="Log In" />
    </p>

    @Html.DisplayFor(model => model.logerror)
}

<p>
        @Html.ActionLink("Or click her to Sign Up", "SignUp", "MemberSide")
</p>