@model ASP.Models.LogInModel
@{
    ViewBag.Title = "LogIn";
}

<h1>Logn In</h1>

@using (Html.BeginForm("LogIn", "MemberSide", FormMethod.Post))
{
<p>
    <label>Username</label>
</p>
    @Html.EditorFor(model => model.Username)
<p>
    <label>Password</label>
</p>
    @Html.EditorFor(model => model.Password)
    <p>
        <input type="submit" value="Submit" />
    </p>

    @Html.DisplayFor(model => model.logerror)
}